@import "../../theme/theme.scss";

.flexcardcontainer {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flexstyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
featurebox {
  color: black;
}

*h1 {
  color: black;
  font-family: $theme-font-family;
  font-weight: $font-weight-corousel;
}

.featuretext {
  margin: 1rem;
}

.buttongroup {
  background-color: white;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
