.contentStyle {
  height: 160px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}

.containerstyle {
  img {
    margin: auto;
    height: 30rem !important;
    background-color: linear-gradient(
      269.41deg,
      #000000 19.32%,
      rgba(0, 0, 0, 0) 97.15%
    );
    width: 70rem !important;
  }
}

.containerstyle {
  padding: 2rem;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@import "~bootstrap/scss/bootstrap";
