$themecolor: black;
$btn-color: #790e22;
$theme-font-family: "Roboto";
$font-style: normal;
$font-weight-nav: 400;
$font-size: 20px;
$line-height: 23px;
$text-transform: uppercase;
$font-weight-corousel: 700;
