@import "../../theme/theme.scss";
.footer-background {
  background-color: $themecolor;
  font-family: $theme-font-family;
  color: white;
  position: relative;
  margin-top: 120rem;
}

#rowflex {
  display: flexbox !important;
  flex-direction: row;
}

.flexcol {
  display: flexbox;
  flex-direction: column;
}

// .footerimg img {
//   max-height: 3rem;
// }

.footpad {
  margin-top: 0.5rem;
  max-height: 10rem;
  &h1 {
    font-family: $theme-font-family;
    font-size: 200px;
  }
}

.footerimg img {
  height: 2rem;
  margin: 0.2rem;
}
