@import "../../theme/theme.scss";
.footer-background {
  background-color: $themecolor;
  font-family: $theme-font-family;
  color: white;
  position: relative;
  margin-top: 120rem;
}

#rowflex {
  display: flexbox !important;
  flex-direction: row;
}

.flexcol {
  display: flexbox;
  flex-direction: column;
}

.footerimg img {
  max-height: 3rem;
}
